@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


:root {
    --background_color : rgb(255, 255, 255);
    --font_color : rgb(0, 0, 0);

}
[data-theme="dark"] {
    --background_color : #282c34;
    --font_color : rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
         transition: all 0.3 ease-in-out;
}

.app {
    background-color: var(--background_color);
    min-height: 100vh;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(255, 255, 255);
}